@keyframes slide-left {
    from {
        transform: translateX(75%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-75%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(75%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-75%);
    }

    to {
        transform: translateY(0);
    }
}

body{
    padding: 0;
    margin: 0;
    background-color: black;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #7AC6D2;
    color: black;
    padding: 0px 50px;

}

nav{
    margin-right: 5%;
}

#nav-links{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 25px;
    list-style: none;
    margin-left: 25px;
}

#nav-links a{
    
    font-size: 18px;
}

#nav-links li:hover{
    transform: translateY(-5px);
    transition-duration: 0.5s;
}

#nav-links a:hover {
    color: #3A59D1;
}

#personal-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;    
}

#img-container{
    flex: 1;
}

#img-container img{
    width: 450px;
    height: 450px;
    border: 1px solid #7AC6D2;
    box-shadow: 0px 0px 5px #7AC6D2;
    border-radius: 50%;
    animation: 3s slide-right;
}

#summary{
    padding: 20px 75px 0 25px;
    animation: 3s slide-left;
    flex: 2;
    color: #7AC6D2;
}

#summary p:nth-of-type(1){
    margin-bottom: -10px;
    padding: 0;
    color: #3A59D1;
    font-size: 14px;
}

#summary hr{
    border: 1px solid #3A59D1;
    width: 50%;
    margin: 0;
    color: #7AC6D2;
}

#summary p:nth-of-type(2){
    font-size: 18px;
    text-align: justify;
}

#info-btn{
    background-color: #7ac6d3;
    padding: 20px;
    font-size: 18px;
    border: 2px solid #7ac6d3;
    border-radius: 15px;
}

#info-btn:hover{
    background-color: white;
    transition-duration: 0.5s;
}

#info-btn a{
    color: black;
}

#education{
    background-image: url(./Images/LU.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 125px 50px;
    color: white;
    text-align: center;
}

#education hr{
    border: 1px solid black;
    width: 60%;
}

#objectives{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 25px;
    padding: 0 50px;
    margin-top: 50px;
}

.objective{
    background-color: black;
    color: #3D90D7;
    padding: 50px 25px;
    font-size: 16px;
    flex: 1;
    border: 1px solid black;
    box-shadow: 0px 0px 5px #3A59D1;
    animation: 3s slide-up;
}

.objective:hover{
    scale: 1.1;
}

#experience{
    padding: 100px 50px;
    background-color: #7AC6D2;
}

#experience h2{
    text-align: center;
}

#experience hr {
    text-align: center;
    border: 1px solid #3e4949;
    width: 50%;
}

#works{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 40px;
    padding: 50px;
}

.work{
    padding: 25px 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
    max-height: 100%;
    background-color: #3D90D7;
}

.work:hover{
    scale: 1.1;
}

.place-time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contact-info{
    color: white;
    text-align: center;
    padding: 50px 25px;
}

#contact-info h2{
    color: #7ac6d3;
    font-size: 36px;
}

#contact-info img{
    width: 96px;
}

#info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}

footer{
    background-color: #7ac6d3;
    padding: 25px;
    text-align: center;
}


@media only screen and (max-width: 768px){

    header h1{
        display: none;
    }

    nav {
        margin-right: 0;
    }

    #nav-links {
        margin-left: 0px;
    }

    #personal-info {
        flex-direction: column;
        padding: 35px;
    }

    #img-container {
        flex: 0;
        padding: 10px;
    }

    #img-container img {
        width: 400px;
        height: 400px;
    }

    #summary {
        padding: 0 10px;
        flex: 1;
    }

    #summary hr {
        width: 75%;
    }

    #info-btn {
        padding: 15px;
        font-size: 16px;
    }

    #education {
        padding: 75px 50px;
    }

    #education hr {
        border: 1px solid white;
        width: 80%;
    }

    #objectives {
        flex-direction: column;
        row-gap: 15px;
        padding: 0 50px;
    }

    .objective {
        padding: 50px;
    }

    #experience {
        padding: 75px 50px;
        background-color: #7AC6D2;
    }

    #experience hr {
        width: 60%;
    }

    #works {
        flex-direction: column;
        row-gap: 25px;
        padding: 25px;
    }

    .work {
        padding: 25px;
    }

    #info {
        flex-direction: column;
        row-gap: 15px;
    }

}